.bluehover {
  will-change: filter;
  transition: filter 300ms;
}
.bluehover:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.bluehover.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

html {
  font-family: "iranyekan";
}
