@import url("./assets/fonts/fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "iranyekan";
  src: url("./assets/fonts/ttf/iranyekanwebregularfanum.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
